* {
    margin: 0;
    box-sizing: border-box;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100vw;
    height: 10vw;
    background-color: black;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    width: 10pw;
    padding: 10px;
}

