* {
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100vw;
}

.icons {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}