* {
    margin: 0;
    box-sizing: border-box;
    color: white;
}



header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    background-color: black;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    width: 25vh;
}

.opções {
    width: 75%;
}

#exemplo1,
#exemplo2,
#exemplo3 {
    border: 3px solid white;
    padding: 10px;
}